@page
@model ProiectMedii.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.ClientName" class="control-label"></label>
                <input asp-for="Appointment.ClientName" class="form-control" />
                <span asp-validation-for="Appointment.ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.PetName" class="control-label"></label>
                <input asp-for="Appointment.PetName" class="form-control" />
                <span asp-validation-for="Appointment.PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ApptTime" class="control-label"></label>
                <input asp-for="Appointment.ApptTime" class="form-control" />
                <span asp-validation-for="Appointment.ApptTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DoctorID" class="control-label">Doctor</label>
                <select asp-for="Appointment.DoctorID" class ="form-control" asp-items="ViewBag.DoctorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.CategoryID" class="control-label"></label>
                <select asp-for="Appointment.CategoryID" class ="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
