@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="font-size:22px"><a>To Our Veterinary Clinic Management System</a></p>
    <img src="~/vetpic2.jpg" alt="Vet Image" style="width:450px;height:300px;">
</div>
